* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.3em;
}

header {
    text-align: center;
}

header img {
    padding: 21px 0;
}

h1, h2 {
    background-color: #c4c4c4;
    color: #005677;
    letter-spacing: .25em;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 35px;
    padding: 15px;
}

h2 {
    font-size: 20px;
    padding-left: .7em;
    line-height: 30px;
    margin-bottom: 10px;
}

footer {
    background-color: #005677;
    color: white;
    padding-top: 9px;
    display: flex;
    justify-content: center;
    gap: 26px;
    height: 37px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
}

section {
    margin: 35px 0;
}

.label {
    font-style: italic;
    font-weight: bold;
}

.year-list {
    margin-left: 19px;
}

.year-list::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.year-list > dt {
    font-weight: bold;
    float: left;
    clear: left;
}

.year-list > dd {
    float: left;
    margin-bottom: 0.5em;
}

.year-list > dd ul {
    list-style-type: none;
    padding-left: 0.5em;
}